*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: green;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 1rem;
}

.navbar {
    background-color: lightgreen;
    width: 100%;
}

header img {
    width: 200px;
}

.toggle-menu {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.popup {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1001;
}

#search-input{
   margin-left: 600px;
   margin-top: 100px;
    border: none;
    width: 300px;
    height:30px;
    border-radius: 5px;
}

footer{
    display: flex;
    justify-content: space-between;
    margin-top: 600px;
}

.hidden {
    display: none !important;
}

.search-input {
    display: flex;
    justify-content: flex-start;
  
    
}

.sliders {
    display:flex;
    width: 100%;
    overflow: hidden;
    margin-top: 50px;
    justify-content: space-between;
    
}

@media screen and (max-width: 768px) {
    .menu {
        display: none;
    }

    .toggle-menu {
        display: block;
    }

    .mobile-menu-active {
        display: block;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: white;
        min-width: 200px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        padding: 1rem;
        animation: slideDown 0.3s forwards;
        
    }

    @keyframes slideDown {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}